@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Comfortaa:wght@300&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Macondo&family=Merriweather&family=Noto+Serif&family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,500;0,600;1,100;1,200&family=Roboto+Mono&family=Style+Script&family=Tapestry&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---------------------------------------- */
/*	Search
		/* ---------------------------------------- */

#searchform {
  position: relative;
}

#searchform input[type="text"] {
  padding-right: 60px;
  font-style: italic;
  font-size: 15px;
}

#searchform .submit-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 55px;
  height: 100%;
  border-left: 1px solid #dcdcdc;
  text-align: center;
}

#searchform .submit-search:before {
  display: block;
  color: #5b5e60;
  text-align: center;
  font-size: 20px;
  font-family: "fontello";
  line-height: 55px;
  content: "\e800";

  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

#searchform input[type="text"]:focus + .submit-search {
  border-left-color: #244657;
}
#searchform input[type="text"]:focus + .submit-search:before {
  color: #244657;
}



/* ---------------------------------------CONTACT PAGE STARTED------------------------------------- */

/* SLIDER */

.contactSlider {
  background-color: white !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.33)),
    url("../images/contact-slider.jpg");
}
.contactSlider h1 {
  padding-top: 40vh;
  font-family: "Style Script", "cursive";
  color: white;
  font-size: 8vh;
  letter-spacing: 1mm;
  font-weight: bold;
}

/* SLIDER END */

/* ========================================== Get in touch heading ====================================== */

.contact-hd {
  padding-top: 130px;
  text-align: center;
  color: rgb(153, 0, 0);
}

.contact-hd p {
  font-family: "Open Sans", sans-serif;
  color: #282b2f;
  font-weight: 600;
}
.color {
  color: rgb(153, 0, 0);
}
/* ===================================== Get in touch heading End ====================================== */

/*============================================== Contact Form ========================================*/
.contact-form {
  margin-top: 50px;
  background-color: #fff;
}

.info {
  margin-top: 50px !important;
  background-color: rgb(252, 252, 255);
}

.info h4 {
  font-size: 20px;
  color: #212529;
  font-weight: 400;
}

.info img {
  margin-right: 20px;
  font-size: 10px;
  color: rgb(252, 255, 253);
  float: left;
  width: 40px;
  height: 40px;
  background: rgb(153, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.weare{
  font-size: 10px;
 
}
.hd{
  text-decoration: underline rgb(153, 0, 0);
  text-underline-offset: 0.4em;
}
.det{
  font-size: 11px;
  flex-wrap: wrap;
  color: rgb(153, 0, 0);
}
.headd{
  font-size: 12.5px;
}

.inputs input {
  padding-left: 30px;
  width: 100%;
  margin-top: 70px;
}
textarea {
  padding-left: 20px;
  margin-top: 20px !important;
  width: 100%;
  border: black 1px solid !important ;
}
.inputs input {
  border: black 1px solid !important ;
  height: 40px;
  margin-top: 20px;
}
.submitBtn {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgb(153, 0, 0) !important;
  border: none !important;
  outline: none !important;
  float: right;
  border-radius: 10px;
  width: 30%;
  height: 7%;
  font-size: small;
}
.submitBtn:focus {
  outline: none;
  border: none;
}

.name-inp{
  font-size: 13px;
}
.email-inp{
  font-size: 13px;
}
.textarea-inp{
  font-size: 13px;
  padding-top: 10px;
  
}

/*----------------------------------------- Contact Page End -----------------------------------------*/



/* ============================================== Footer ============================================ */

.footer {
  width: 100%;
  background-color: #16181b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.footer-box {
  width: 250px;
  height: 250px;
  margin-top: 40px;
}
.footer-box a {
  text-decoration: none;
  line-height: 35px !important;
  font-size: 12px;
}
.footer-box a:hover {
  color: rgb(153, 0, 0);
}
.footer-para {
  line-height: 35px !important;
  font-size: 15px;
  color: white;
  line-height: 20px;
  font-family: 'Merriweather', serif;
  font-size: 12px;
}
.footer-mat {
  color: white;
  text-decoration: underline rgb(153, 0, 0);
  text-underline-offset: 1em;
  font-family:"Ubuntu";
  
}
#footer .widget {
  margin-bottom: 25px;
}


.copyright {
  font-size: 12px;
}
.developed {
  font-size: 11px;
}

.copyright a,
.developed a {
  color: #244657;
}

/* =========================================== Footer End ============================================ */


/* =========================================== Copyright ============================================ */

.contd {
  background: linear-gradient(
    184deg,
    rgb(153, 0, 0) 43%,
    rgba(2, 62, 134, 1)
  );
  margin-bottom: -15px;
}

.p1 {
  background-color: linear-gradient(
    184deg,
    rgba(12, 9, 74, 1) 43%,
    rgba(2, 62, 134, 1)
  );
  color: white;
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 18px;
  margin-bottom: -18px;
}
.row1 {
  width: 100%;
}
.p2{
  padding-bottom: 9px;
  margin-bottom: 1px;
  color: #989898;
  font-size: 9px;
}
.hush{
  color: #1fc3ff;
}

/* ========================================= Copyright End ============================================ */
