@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}   

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card2 {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  width: 300px;
  min-height: 380px;

}
.card-header2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 150px;
}

.tag2 {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 5px 12px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.tag-teal2 {
  background-color: #47bcd4;
}
.tag2:hover{
  background-color: rgb(35, 42, 113);
  color: #fff;
}


.card-body2 p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user2 {
  display: flex;
  margin-top: auto;
}

.user2 img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info2 h5 {
  margin: 0;
}
.user-info2 small {
  color: #545d7a;
}
