.gallery-container {
    max-width: 800px;
    margin: -4px auto;
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  .gallery-heading {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .gallery-overlay {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
  }
  
  .gallery-overlay.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-slide {
    position: absolute;
    top: -5;
    left: 0;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
  }
  
  .gallery-slide:hover {
    transform: scale(1.1);
  }
  
  .gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .gallery-controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .gallery-zoom {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .gallery-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
  }
  
  .gallery-thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 1rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .gallery-thumbnail:hover {
    transform: scale(1.1);
  }
  
  
  .gallery-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-thumbnail-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }
  