#about h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #244657;
  text-transform: uppercase;
  font-weight: 100;

  line-height: 1.1em;

}
.carousel_section{
  position: relative; 
}
.carousel_section_center{
  position: absolute;
  top: 50%;
}
.pickgradient img{
  height: 500px;
  width: auto;
}

#about h3 {
  text-align: center;
  text-align: center;
  margin-bottom: 20px;
  color: #244657;
  text-transform: uppercase;
  font-weight: 100;

  line-height: 1.1em;
}

.col-md-8{
  display: grid;
  grid-template-columns: 1000px 400px;

}

#text-sec {
  margin-left: 10px;
}

.about {
  width: 300px;
  position: relative;
  top: 170px;
  left: -50px;
}

.txt {
  text-align: justify;
  width: 700px;
}

.about_acm {
  width: 250px;
}
.head{
  justify-content: center;
}
.parent-div{
  display: grid;
  grid-template-columns: 250px 270px 500px;
}

/* .txt{
  width: 800px;
} */
.about1{
  width: 200px;
  position: relative;
  top: 10px;
}
.acm-head{
  width: 700px;
}
#about{
  position: relative;
  top: 25px;

}
.about-sec{
  width: 100%;
  max-width: 1200px;
  margin-left: 50px;
}
/* css***************888 */


.about-section{
  margin-top: 20px;
}


.about-pg-boxes{
 
 justify-content: center;
 width: 100%;
max-width: 1200px;
text-align: center;

  
}

.about-pg-details{
  /* background-color: rebeccapurple; */
  padding-top: 0px;
  
  vertical-align: center !important;
  width: 50%;
  padding-right: 30px;
  line-height: 20mm;
  margin-bottom: 0px;
    color: #5b5e60;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    font-weight: normal;
  
 
}
.row{
  margin-top: 50px;
}
.about-pg-pic img{
  height: 100%;
  width: 100%;
  max-width: 350px;
  object-fit: contain;
  padding: 10px;
  margin: auto;
  margin-top: 10px;



}

.about-pg-boxes2{
 
  text-align: center;
}
.about-hd{
  /* margin-top: 10px !important; */
  padding-top: 40px !important;
}
.contact-hd {
  text-align: center;
  
}




@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
  .pickgradient img{
    height: 300px;
    width: auto;
  }
}
@media (max-width: 992px) {
  .content{
    padding: 0 30px;
  }
  .carousel_section{
    position: relative; 
    margin-top: 70px;
  }
  .pickgradient img{
    height: 200px;
    width: auto;
  }
  
  .carousel_section h2{
    font-size: 20px;
  }
  .carousel_section p{
    font-size: 10px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    /* position: fixed;
    float: right !important; */
  }
  .icon.hide{
    display: none;
  }
  .pickgradient img{
    height: 200px;
    width: auto;
  }
  
 
}
@media (max-width: 769px) {
  .about-pg-details{
    width: 100%;
    max-width: 765px;
    margin: auto;
  }

   
}


/* CONTACT FORM END */


.navigation-wrap{
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.1s ease-out;
  /* -webkit-transition: all 0.1s ease-out; */
}
.navigation-wrap .nav-item{
  padding: 0 0.625rem;
  /* transition: all 200ms linear; */
}
.navbar-toogle-btn:focus{
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link{
  font-size:0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(77, 0, 0);
  letter-spacing: 1px;
  cursor: pointer;
}
.nav-link:hover{
  color: rgb(77, 0, 0);
}
.navigation-wrap .main-btn{
  padding: 0.3125rem 1.475rem;
  box-shadow: none;
  margin-left: 0.625rem;
}
.navigation-wrap .navbar-brand .nav_img{
  height: 60px;
}
/* #################### change nav bar ############## */
.navigation-wrap.scroll-on{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: var(--white-color);
  box-shadow:  0 0.125rem 1.75rem 0 rgb(0,0,0,0.9); */
  /* transition: all .15s ease-in-out; */
}
.scroll-on{
  background: #ffffff;
  box-shadow:  0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
  z-index: 100;
}
.active{
  color: rgb(77, 0, 0) !important;
}
.top-banner{
  width: 100%;
  background: url(./page/image/itec_2022.jpg) center no-repeat;
  background-size: cover;
  padding: 10.875rem 0 9.375rem;
  overflow-x: hidden;
}
.main-btn:hover{
 color:rgb(196, 190, 190);

}

.main-btn{
  margin-top: 10px;
  display: inline-block;
  padding: 0.675rem;
  line-height: 1.5625rem;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(77, 0, 0);
  border: 0.1875rem solid var(--primary-color);
  color: #fff;
  font-size: 0.9375;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
  -webkit-transition:  all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}



@media (max-width:991px) {
  .text-content{
    width: 100%;
  }
  .top-banner{
    padding:9.3rem  0 9.3rem ;
  }
}
@media (max-width:767px) {
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 2rem;
    line-height: 2.625rem;
  }
  
}

.margin-offset{
margin-left: 8%;

}
